/* 1. Basic styling */
* {   /* Set up border to easily see our elements */
      border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* 2. Define a framework that has 12-column grid:
      - Row: 100%
      - Columns: 1/12% to 12/12%
*/

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {	/* 1 column wide, which is 1/12 of width */
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {	/* 12 column wide, which is 12/12 (100%) of the width */
    width: 100%;
}

.grid {		/* Outer div that contains all other divs. The purpose of it is to limit the max-width of the page and center content in case your user is looking at the page on a very large screen */
    margin: 0 auto;		/* Centering (auto margin horizontally) */
    max-width: 1200px;
    width: 100%;
}

/* Media queries */
@media only screen and (max-width: 300px) {     /* Only apply this media query when width < 300px)      /* Only apply this media query when width < 300px) */
	p { 
	    background-color: blue;
	}   
}


